:root {
  .el-button--primary {
    --el-button-hover-bg-color: #1383f8;
  }
  .el-button--danger {
    --el-button-hover-bg-color: #fb3f3f;
  }
  .el-drawer__header {
    margin-bottom: 0;
    & > :first-child {
      font-weight: 600;
    }
  }
  .el-drawer__footer {
    padding-top: 0;
  }
}
